body{
    background-color: burlywood;
}
hr{
    width:10000000000000px;
    height:50px;
}
h1{
    
    font-family: cursive;
}
h3{
    font-family: cursive;
}
label{
    font-family: cursive;
}
h4{
    font-family: cursive;
}